<% title "主页 - #{Preference.option(PREFERENCE_SITE_NAME)}" %>
<div class="row">
  <div class="span9">
    <%= flash_msg_tag flash[:alert],"alert-error" %>
    <%= flash_msg_tag flash[:notice],"alert-success" %>
  </div>
</div>
<% @topics.each do |topic| %>
  <section class="section-topic">
    <div class="page-header">
	  <h1><%= link_to image_tag(topic.logo.url(:small),:class=>"profile_picture"),topic_path(topic.name) %> <%= link_to topic.name,topic_path(topic.name)%></h1>
	</div>
	<div class="row">
      <% topic.status_ideas.each do |status,idea| %>
	    <div class="span4">
		  <h2><%= I18n.t("app.idea.status.#{status}") %></h2>
          <% if idea %>
		    <div class="home-user"><%= link_to image_tag(idea.user.avatar.url(:small),:class=>"profile_picture"),user_path(idea.user.username) %><%= link_to idea.user.username,user_path(idea.user.username),:class=>"home-user-name" %></div>
		    <div class="home-idea-title"><%= link_to idea.title,idea,:title => idea.title %></div>
		    <div class="home-idea-entry"><%= auto_link(idea.description) %></div>
          <% else %>
            <p><span class="label label-warning">还有没有主意！</span></p>
			<p>如果你有什么好主意，赶紧<a href="javascript:;" data-toggle="modal" data-target="#modal-add-idea">发布</a>吧。</p>
          <% end %>
	    </div>
      <% end %>
	</div>
  </section>
<% end %>
<section id="tags" class="section-topic">
  <div class="page-header">
	<h1>标签</h1>
  </div>
  <ul class="unstyled home-tags">
    <% @tags.each do |tag| %>
	  <li><i class="icon-tag"></i>&nbsp;<%= link_to tag.name,tag_path(tag.name) %><span class="shallow">&nbsp;x&nbsp;<%= tag.ideas_count %></span></li>
    <% end %>
  </ul>
</section>
