<div class="span9">
  <h2>标签：<%= @tag.name %></h2>
  <div id="ideas-main">
    <%= render @ideas %>
    <%= will_paginate @ideas,:class => "pagination pagination-right",:params => {:controller => "ideas",:action => "tag",:tag_id => @tag.id} %>
</div>
</div>
<div class="span3">
  <% if Tag.count > 0 %>
    <h4>热门标签</h4>
	<ul class="unstyled hot-tags">
      <% Tag.limit(30).order("ideas_count desc").each do |tag| %>
		<li><i class="icon-tag"></i>&nbsp;<%= link_to tag.name,tag_ideas_path(:tag_id => tag.id) %><span class="shallow">&nbsp;x&nbsp;<%= tag.ideas_count %></span></li>
      <% end %>
	</ul>
  <% end %>
</div>
