<div class="span8 offset2">
<%= errors_msg_tag resource %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put,:class=>"form-horizontal" }) do |f| %>
  <fieldset>
    <legend>修改邮箱或密码</legend>
	<div class="control-group">
      <%= f.label :email,:class=>"control-label" %>
	  <div class="controls">
        <%= f.email_field :email,:class=>"input-xlarge" %>
	  </div>
	</div>
	<div class="control-group">
      <%= f.label :password,"新密码",:class=>"control-label" %>
	  <div class="controls">
        <%= f.password_field :password,:class=>"input-xlarge" %>
        <p class="help-block">如果不更改密码，不需要填写</p>
	  </div>
	</div>
	<div class="control-group">
      <%= f.label :password_confirmation,"确认新密码",:class=>"control-label" %>
	  <div class="controls">
        <%= f.password_field :password_confirmation,:class=>"input-xlarge" %>
        <p class="help-block">如果不更改密码，不需要填写</p>
	  </div>
	</div>
	<div class="control-group">
      <%= f.label :current_password,:class=>"control-label" %>
	  <div class="controls">
        <%= f.password_field :current_password,:class=>"input-xlarge" %>
        <p class="help-block">填写当前密码才能成功修改</p>
	  </div>
	</div>
	<div class="form-actions">
      <%= f.submit "修改",:class=>"btn btn-large btn-primary" %>
	</div>
  </fieldset>
<% end %>
</div>
