<% title "话题管理 - 控制面板" %>
<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li><%= link_to dashboard_preferences_path do %><i class="icon-home"></i> 首页<% end %></li>
	  <li class="active"><%= link_to topics_path do %><i class="icon-comment icon-white"></i> 话题管理<% end %></li>
	  <li><%= link_to users_path do %><i class="icon-user"></i> 用户管理<% end %></li>
	  <li><%= link_to preferences_path do %><i class="icon-cog"></i> 站点设置<% end %></li>
    </ul>
  </div>
</div>
<div class="span9" id="admin-main">
  <div class="page-header">
    <h1>话题管理</h1>
  </div>
  <p><%= link_to "新增话题",new_topic_path,:class => "btn btn-primary",:id => "new-topic" %></p>
  <table class="table table-bordered">
    <thead>
	  <tr>
	    <th>话题名称</th>
	    <th>主意数量</th>
	   <th>操作</th>
	  </tr>
    </thead>
    <tbody id="topics">
      <%= render @topics %>
    </tbody>
  </table>
</div>
