<div class="row">
  <div class="span6 offset3">
    <%= flash_msg_tag flash[:alert],"alert-error" %>
    <%= flash_msg_tag flash[:notice],"alert-success" %>
	<h2>登录</h2>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html=>{:class=>"well"}) do |f| %>
      <%= f.label :login %>
      <%= f.text_field :login,:class=>"span4"%>
	  <%= f.label :password %>
      <%= f.password_field :password,:class=>"span4" %>
	  <label class="checkbox">
		<%= f.check_box :remember_me %> <%= f.label :remember_me %>
	  </label>
      <%= f.submit "登录",:class=>"btn btn-large btn-primary" %>
    <% end -%>
    <%= render "links" %>
  </div>
</div>
