<div class="row" id="solution-<%= solution.id %>">
  <div class="span7 seperator"></div>
  <div class="span6">
    <div class="solution-profile"><%= link_to image_tag(solution.user.avatar.url(:thumb),:class=>"profile_picture_small"),user_path(solution.user) %></div>
    <div class="solution">
	  <div class="solution-info"><%= link_to solution.user.username,user_path(solution.user) %>，<span class="bold"><%= solution.title %></span></div>
	  <div class="solution-info"><span class="label label-warning" id="solution-points-<%= solution.id %>"><%= solution.points %>分</span></div>
	  <div class="solution-entry <%= solution.user.admin ? 'highlight':''%>"><%= auto_link(solution.content) %></div>
	  <div class="solution-date shallow"><%= distance_of_time_in_words_to_now solution.created_at %></div>
	</div>
  </div>
  <div class="span1">
    <ul class="unstyled actions solution-actions">
      <% if @idea_page && (can? :handle,solution.idea) && solution.idea.status == IDEA_STATUS_REVIEWED_SUCCESS %>
	    <li><input class="solution-pick" type="checkbox" value="<%= solution.id %>"> 实施</input></li>
      <% end %>
      <% if solution.pick %>
	    <li><a href="javascript:;" class="tip-link" data-original-title="被选中的方案" data-placement="right" ><%= image_tag "check.png"%></a></li>
      <% end %>
      <%= vote_unvote_solution_link solution %>
      <%= edit_solution_link solution %>
      <%= del_solution_link solution %>
	</ul>
  </div>
</div>
<div class="row" id="edit-solution-<%=solution.id%>" style="display:none">
  <div class="span7 seperator"></div>
  <div class="span7">
    <%= form_for(solution,:remote => true,:html =>{:class=>"well"}) do |f| %>
      <a class="close" data-solution="<%= solution.id %>" style="cursor:hand">&times;</a>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :content %>
	  <%= f.text_area :content,:class => "span6",:style => "height:80px;overflow-y:auto" %>
      <p class="help-block"><%= t('app.info.content_tip')%></p>
      <%= f.submit "修改",:class=>"btn btn-primary",:style=>"margin-top:5px" %>
	<% end %>
  </div>
</div>
