<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <%= favicon_link_tag 'apple-touch-icon-72x72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72' %>
  <%= favicon_link_tag 'apple-touch-icon-114x114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114' %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to Preference.option(PREFERENCE_SITE_NAME),root_path,:class=>"brand" %>
        <ul class="nav">
          <li><%= link_to "网站主页",root_path %></li>
          <% if can? :dashboard,Preference %>
            <li class="active"><%= link_to "控制面板",dashboard_preferences_path,:id => "dashboard" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
  <div class="content">
    <div class="row-fluid">
      <%= yield %>
    </div>
  </div>
  <%= render "common/footer"%>
  </div>
</body>
</html>
