<!DOCTYPE html>
<html>
<head>
  <title>IdeasBulb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <%= favicon_link_tag 'apple-touch-icon-72x72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72' %>
  <%= favicon_link_tag 'apple-touch-icon-114x114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114' %>
</head>
<body>
  <%= render 'common/header' %>
  <div class="container">
    <div class="content">
      <div class="row">
        <%= yield %>
	  </div>
	</div>
    <%= render "common/footer"%>
  </div>
</body>
</html>
