<!DOCTYPE html>
<html>
<head>
  <title>IdeasBulb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <%= favicon_link_tag 'apple-touch-icon-72x72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '72x72' %>
  <%= favicon_link_tag 'apple-touch-icon-114x114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => '114x114' %>
</head>
<body>
  <%= render 'common/header' %>
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span9"><%= yield %></div>
        <div class="span3">
          <%= form_tag(search_ideas_path,:method => "get",:class=>"form-search") do %>
			<%=text_field_tag(:q,@query,:placeholder => "搜索主意",:class=> "span2 search-query",:title => "搜索主意") %>
            <%= button_tag :class=>"btn" do %>
              <i class="icon-search"></i>
            <% end %>
		  <% end %>
          <% if user_signed_in? %>
		    <ul class="nav nav-pills nav-stacked" id="nav-owner-ideas">
			  <li class="active"><%= link_to '所有的主意',tab_ideas_path(:all => true),:remote=>true %></li>
			  <li><%= link_to '发布的主意',tab_ideas_path(:user_id => current_user.id),:remote=>true %></li>
			  <li><%= link_to '关注的主意',tab_ideas_path(:favorer_id => current_user.id),:remote=>true %></li>
		    </ul>
          <% end %>
          <% if Topic.count > 0 %>
		    <h4>主题</h4>
		    <ul class="nav nav-pills nav-stacked" id="nav-topic-ideas">
              <% Topic.all.each do |topic| %>
			    <li><%= link_to tab_ideas_path(:topic_id => topic.id),:remote=>true do %><i class="icon-list"></i>&nbsp;<%= topic.name %><% end %></li>
              <% end %>
	        </ul>
          <% end %>
          <% if Tag.count > 0 %>
			<h4>热门标签</h4>
			<ul class="unstyled hot-tags">
              <% Tag.limit(15).order("ideas_count desc").each do |tag| %>
				<li><i class="icon-tag"></i>&nbsp;<%= link_to tag.name,tag_ideas_path(:tag_id => tag.id) %><span class="shallow">&nbsp;x&nbsp;<%= tag.ideas_count %></span></li>
              <% end %>
			</ul>
          <% end %>
	    </div>
      </div>
    </div>
    <%= render 'common/footer' %>          
  </div>
</body>
</html>
